@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', serif;
}

header {
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

main {
    padding: 1rem;
}

form {
    text-align: center;
}

main p {
    text-align: center;
    padding: 1rem 0.5rem;
}

#user-input {
    display: block;
    margin: 0 auto;
    min-width: 30%;
    max-width: 90%;
    min-height: 200px;
}

#tip, #lists{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#tip p {
    font-size: 1.2rem;
}

button {
    font-size: 1.2rem;
    margin: 0.5rem;
    width: 200px;
}

#lists button {
    width: 100%;
}

#user-items, #user-output {
    width: 30vw;
    height: 200px;
    background-color: gray;
    margin: 1rem;
    padding: 0.5rem;
    padding-top: 2rem;
    color: white;
    resize: none;
}

#user-items-top, #user-output-top {
    position: absolute;
}

#user-items-copy, #user-output-copy {
    position: relative;
    top: 10px;
    left: 10px;
}

.hidden {
    display: none;
}

#templates {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.template {
    background-color: grey;
    width: 180px;
    height: 180px;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem;
    align-items: center;
    align-content: flex-start;
}

.icon {
    width: 16%;
    height: 16%;
    margin: 0.2rem 0.1rem;
    background-color: white;
}

.item-name {
    width: 28%;
    height: 5%;
    margin: 0.2rem 0.1rem;
    background-color: white;
}
